body {
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size: 11px;
}

form {
	margin:0px;
	padding:0px;
}

th, td {
	font-family : arial;
	font-size: 11px;
}

A:link, A:visited,  A:active, A.highlighted {
	color: #006699;
	text-decoration: none;
	font-size: 11px;
}

A:hover {
	color: black;
	text-decoration : underline;
	font-size: 11px;
}

input { 
	font-size: 11px; 
	font-family: Arial, Arial, Helvetica; 
	font-style: normal; 
	border:1px solid black;
}

select {
	font-size: 11px;
	font-family: Arial, Arial, Helvetica;
	font-style: normal;
	border:1px solid black;
}



/**** Layout Regions *******/
#mainContent {
	margin:10px;
}
#ViewerHeader {
	background-image:url(../images/viewer_header_bg.jpg);
	background-repeat:repeat-x;
	border-bottom:1px solid black;
}
#reportTitle {
	margin:0px;
	padding:0px;
	font-size:17px;
	font-weight:normal;
	text-align:right;
	line-height:20px;
	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif" !important;
}
#reportSubtitle {
	margin:0px;
	padding:0px;
	font-size:14px;
	line-height:16px;
	font-weight:normal;
	text-align:right;
	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif" !important;
}
#ViewerMenuBar {
	border-bottom:1px solid black;
}


/********** Navigation Menu ************/		

#menuIcons {
	padding:2px;
	padding-left:2px;
	white-space:nowrap;
}
#menuIcons img {
	width:22px;
	height:22px;
	border:1px solid white;
}
#menuIcons img:hover {
	border:1px solid black;
}

#menuButtons {
	margin: 0;
	padding: 0;
	padding-left:10px;
	white-space: nowrap;
}

#menuButtons li {
	display: inline;
	list-style-type: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-left:-3px;
}

#menuButtons a { 
	padding: 3px 10px; 
	line-height:25px;
}

#menuButtons a:link, #menuButtons a:visited {
	color: #fff;
	text-decoration: none;
	border:1px solid #91B5FF;
	background-color: #91B5FF;
}

#menuButtons a:hover {
	border:1px solid white;
	text-decoration: none;
}

.menuButtonsSelected { }


/********** Dialog Panels ************/	

#DialogPanelContainer {
	position:absolute;
	background-color: #ddd;
	width:580px;
	height:360px;
	margin-left:auto;
	margin-right:auto;
	border:2px outset #999;
	z-index:99999;
	font-size:10px;
}

#DialogPanelTitle {
    background-color:#91B5FF;
    color:white;
    font-weight:bold;
    font-size:11px;
    font-family:arial, helvetica, sans-serif;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    cursor:pointer;
    line-height:20px;
}

#DialogPanelContainer form {
    border:1px solid #ccc;
    background-color:#f5f5f5;
    color:black;
    font-size:11px;
	padding:0px;
    margin:2px;
}

#DialogPanelContainer select,
#DialogPanelContainer textarea,
#DialogPanelContainer input[type=text],
#DialogPanelContainer input[type=password] {
    width:160px;
    font-size:10px;
    padding:1px;
}
#DialogPanelContainer td {
	text-align:left;
}
#DialogPanelContainer th {
	background : #91b5ff;
    color:#fff;
    border-bottom:1px solid #999;
    text-align:left;
}



/********** Hide / Show ************/	
.hidelayer{ display: none; }
.showlayer{ display: block; }


/********** Misc ************/
#h_loading {
	position:absolute;
	border:1px solid silver;
	background-color:#FFFFFF;
	color:#000000;
	width:70px;
	height:15px;
	z-index:100000;
	text-align:center;
	padding-top:6px;
    margin:4px;
}

