/* CSS Declarations for WebReports Viewer ***/

th {
	font-family : arial;
	font-size: 11px;
}

td {
	padding-right: 5px;
	font-size: 11px;
}

#MyReport {
	margin:10px;
	border:1px solid black;
}

#reportHeader {
    margin-right:200px;
}
#reportHeader table {
    border-collapse:collapse;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    color:#999999;
    background-color:#fff;
    font-weight:bold;
    margin:10px;
}
#reportHeader input {
    border:1px solid black;
}

#reportPreview {
   /* margin-right:200px;*/
    position:absolute;
    top:85px;
}
#reportPreview iframe {
    border:1px solid black;
    margin:20px;
    margin-top:0px;
    z-index:1;
    clear:none;
}

#reportControls {
    float:right;
    width:200px;
    color:black;
    font-size:11px;
    font-family:arial, helvetica, sans-serif;
    background-color:#F5F5F5;
    border-left:1px solid #CCCCCC;
	overflow:auto;
}

#DialogPanelContainer form {
	height:262px;
}

#frmDatabase {
    height:175px;
}
#frmDatabase input[type=text],
#frmDatabase input[type=password],
#frmDatabase select {
    width:130px;
}
#frmColumnProperties {
    height:315px;
}

